---
layout: page
---

<h1 style="color:#093145;text-align:center;margin-bottom: 0.08cm;""><b>Renesh Bedre, Ph.D.</b></h1>
<p style="color:#093145;text-align:center">(Bioinformatics data scientist)</p>
<img src="{{"/myfiles/me.png" | absolute_url}}" style="float: right; class="img-rounded" alt="Cinque Terre"
width="200" height="200">
<h4 style="color:#1496BB">About Me</h4>
     <p>Renesh Bedre is a Bioinformatics, biology, and data scientist having 7 years of experience in <b>Bioinformatics,
        plant biology, genetics, and statistics</b>.<br>
        He received <b>Ph.D.</b> from Louisiana State University at Baton Rouge, USA in 2016. Currently, He is working as
        postdoctoral research associate and Bioinformatics data scientists at Texas A&M University.<br>
        He has extensive experiences in Next-generation sequencing (NGS) generated <b>transcriptomics</b> and
        <b>genomics</b> data analysis to identify genetic changes and development of biomarkers in plants associated with
        environmental stresses. He has worked on genetics of simple (Rice, Arabidopsis, Brachypodium) to complex
        (Sugarcane, Spartina, Cotton) plants.


    </p>
    <!--
    <p>I earned Ph.D. from Louisiana State University at Baton Rouge, USA in August 2016. Currently, i am working as
        research associate at Texas A&M University. My primary research interest concerns about transcriptomics and
        genomics data analysis and, development of a Bioinformatics and data analysis tools for a large datasets in a
        high-throughput manner. During My Ph.D., I have earned experience on NGS data analysis, high performance
        computing, bioinformatics software development, web development and database management.
        <br><br>
        I am working on several Bioinformatics projects, from small to large scale sequence analysis to address
        abiotic and biotic stresses in plants (Cotton, Sugarcane, Rice, Potato, Tomato, Spartina etc.). I have largely
        applied Next generation sequencing (NGS) RNA-seq approach to study molecular mechanisms and transcriptional
        regulation under various abiotic and biotic stresses in a model and non-model plant species. Additionally, I
        have developed algorithms and software pipeline for efficient analysis for large scale biological data generated
        from NGS instruments.
        and Bioinformatics software and database development
    </p>
    -->
<h4 style="color:#1496BB">Research Interests</h4>
    <ul style="list-style-type:disc">
        <li>Transcriptomics and genomics data analysis</li>
        <li>Development of new computational methodologies for NGS analysis</li>
        <li>High Performance Computing for big data analysis</li>
        <li>Parallel computing (shared and distributed) for Bioinformatics tools development</li>
        <li>Statistical computing and graphics</li>
        </ul>

<h4 style="color:#1496BB">Things I work on</h4>
    <ul style="list-style-type:disc">
        <li>Analyze large molecular datasets, especially RNA-Seq datasets generated from NGS platforms such as Illumina
            and Roche/454 in plants to address basic research questions</li>
        <li>Develop and apply bioinformatics data analysis pipelines in order to analyze large omics data sets</li>
        <li>Apply high performance computing (HPC) to analyze large NGS datasets in a high throughput manner</li>
        <li>Apply statistical methods to analyze omics and microarray datasets in Python, R and Bioconductor (eg. gene
            expression, GO and pathway enrichment, PCA etc.)</li>
        <li>Write novel algorithms and implement it as per scientific needs and research goals</li>
        <li>Sequence data submission at NCBI SRA and EST databases</li>
        <li>Creative visualization of the data analysis results using various open-source tools such as R, matplotlib, Circos,
            IGV, Cytoscape etc.</li>
        <li>Create databases for storing NGS data analysis results and maintain them</li>
        <li>Collaborate with other research groups/scientists and perform the analysis of their data as per requirement</li>
        <li>Communicate research findings through publications, oral presentations, reports and conferences</li>
        <li>Review scientific manuscripts</li>
        <li>Help other students and faculty to troubleshoot Bioinformatics problems (eg. Installing Linux/Unix, command
            line tools, Operating Linux/Unix machine, writing code in Python and Perl, debug the code, recommend
            statistical methods, database handling etc.)</li>
    </ul>

    <!--
        <h3 style="color:#306EFF"><font face="verdana">Education</font></h3>
        <ul style="list-style-type:disc">
           <li><b><font face="verdana" style="color:#FBB117">Ph.D. Agronomy with emphasis on Bioinformatics and statistics</font></b>
               <font face="verdana">, Louisiana State University, Baton Rouge, USA <br>August 2011-August
                   2016</font></li>
                <br>
           <li><b><font face="verdana" style="color:#FBB117">M.S.  Bioinformatics</font></b><font face="verdana">, Indian Institute of
               Information Technology, Allahabad, India <br>August 2009-July 2011</font></li>
  				<br>
           <li><b><font face="verdana" style="color:#FBB117">B.S.    Pharmacy</font></b><font face="verdana">, Dr. Babasaheb Ambedkar
               Marathwada University, Aurangabad, India <br>August 2005-May 2009</font></li>
       </ul>
        <h3 style="color:#306EFF"><font face="verdana">Relevant Skills</font></h3>
        <ul style="list-style-type:disc">
           <li><b><font face="verdana" style="color:#FBB117">Operating Systems</font></b><br><font face="verdana">Linux/UNIX (Red Hat,
               Ubuntu, Mandriva,      Fedora), Macintosh OS, Windows (XP, 7, 8)</font></li>
                <br>
           <li><b><font face="verdana" style="color:#FBB117">Programming Experience</font></b><br><font face="verdana"><i>Proficient
           </i> - Python, Perl,      R, Bioconductor, Biopython, BioPerl, HPC, PBS, MySQL, PostgreSQL, HTML, CSS,
               Bootstrap<br><i>Working knowledge</i> - Bash, C, C++, Java, SAS, MATLAB, Django, PHP, MongoDB, Hadoop
           </font></li>
  				<br>
           <li><b><font face="verdana" style="color:#FBB117">Bioinformatics tools</font></b><br><font face="verdana">BLAST, Blast2GO, GATK,
               SAMtools, MISA, Primer3, ClustalW, MEGA, PHYLIP, TopHat, Bowtie1/2, BWA, STAR, Trinity, ABySS, Velvet,
               CAP3,SOAPdenovo, Cufflinks, DEGseq, HTSeq, IGV, Circos, Cytoscape, agriGO, CLC Workbench, WGCNA,
               RiceNet, KEGG pathways, MFold, RNAfold, psRNATarget</font></li>
        </ul>
    -->
<h4 style="color:#1496BB">Fellowships and Awards</h4>
    <ul style="list-style-type:disc">
        <li><b> Gerald O. Mott</b> Meritorious Student Award from Crop Science Society of America, 2015
            <a href ={{"/myfiles/bedre_mott_2015.pdf" | absolute_url }} target="_blank">View award</a></li>
        <li><b>Travel Grant Award</b> from LSU Graduate School to attend XXII, Plant and Animal Genome
            Conference, 2014</li>
        <li><b>GATE scholarship</b> from Ministry of Human Resources and Development, Govt. of India,
            2009-2011</li>
        <li>All India Rank 28th in National level Pharmacy Talent search Examination, 2007</li>
    </ul>

<h4 style="color:#1496BB">Professional Memberships and services</h4>
    <ul style="list-style-type:disc">
        <li>Member, <a href="https://www.crops.org/">Crop Science Society of America</a></li>
        <li>Member, <a href="http://www.apsnet.org/Pages/default.aspx">American Phytopathological Society (APS)
        </a></li>
        <li>Member, <a href="https://jgi.doe.gov/">U.S. Department of Energy Joint Genome Institute (DOE JGI)
        </a></li>
        <li>Member, <a href="https://www.bioinformatics.org/">Bioinformatics Organization</a></li>
        <li>Member, <a href="http://bioclues.org/">Bioinformatics Club for Experimenting Scientists (Bioclues)
        </a></li>
        <li>Member, <a href="https://www.biostars.org/">Biostar</a></li>

        <li>Reviwed manuscripts for <a href="https://www.nature.com/srep/">Scientific Reports-Nature</a>,
            <a href="http://journals.plos.org/plosone/">PLOS ONE</a>,
            <a href="https://link.springer.com/journal/438">Molecular Genetics and Genomics</a>,
            <a href="https://link.springer.com/journal/521">Neural Computing and Applications</a>,
            <a href="http://www.springer.com/life+sciences/systems+biology+and+bioinformatics/journal/12539">
                Interdisciplinary Sciences: Computational Life Sciences</a>,
            <a href="http://www.sbmp.org.br/cbab/siscbab/">CBAB-Crop Breeding and applied Biotechnology</a>
            <br>
            <a href="https://publons.com/author/1282617/renesh-bedre#profile"> Click here </a> for detail review record
        </li>
        <li>Committee Member <b>Graduate Student Association (GSA)</b> of department of School of Plant Environmental
            and Soil Sciences at Louisiana State University, 2015-2016</li>
        <li>Committee Member of <b>Indian Student Association (ISA)</b> at Louisiana State University, 2014-2015</li>
        <li><b>Volunteer</b>, Third Science Conclave: An Interaction with Nobel Laureates held at IIIT Allahabad,
            India, 2010</li>
    </ul>


<!--
<div class="home">
  {% if page.title %}
    <h5 class="page-heading">{{ page.title }}</h5>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h5 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h5>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
-->
