---
layout: page
---

<style xmlns="http://www.w3.org/1999/html">
    .photo{
    width:25%;
    margin-right:5%;
    float: left;
    left: 950px;
    }
    .photo iframe{
        width:100%;
    }
    .para {
        width:70%;
        float: left;
    }
    .clearfix{
        clear:both
    }
    .button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
}
</style>

<!--
<h1 style="color:#093145;text-align:center;margin-bottom: 0.08cm;""><b>Renesh Bedre, Ph.D.</b></h1>
<p style="color:#093145;text-align:center">(Bioinformatics data scientist)</p>-->

<div class="photo">
      <img src="{{"/myfiles/me.png" | absolute_url}}" style="float: right; border-radius: 50%; class="img-rounded"
    alt="Cinque Terre" width="200" height="200" />
    <p style="position: relative; top:10px;"><b>Renesh Bedre, Ph.D.</b> </p>
    <p style="font-size:15px; color: grey; text-align: center;">Bioinformatics data scientist</p>
    <p style="font-size:15px; text-align: center;"><a href="https://www.tamu.edu/" target="_blank"> Texas A&M University</a></p>
    <p style="text-align: center;"><a href={{"/myfiles/Bedre_CV_Sept202019.pdf" | absolute_url }} class="button" target="_blank" style="color:white;">Read CV</a></p>
    <h4 style="position: relative; color:#1496BB; top:190px; text-align: right;">Research goals</h4>
    <h4 style="position: relative; color:#1496BB; top:454px; text-align: right;">Research interests</h4>
    <h4 style="position: relative; color:#1496BB; top:668px; text-align: right;">Appointments and education</h4>
    <h4 style="position: relative; color:#1496BB; top:808px; text-align: right;">Research areas</h4>

</div>

<div class="para">
       <h4 style="color:#1496BB">Biography</h4>
        <p>Dr. Renesh Bedre is a Postdoctoral Research Associate at Texas A&M AgriLife Research. He received his Ph.D.
            from Louisiana State University, where he studied and applied <b>genomics and
                bioinformatics</b> approaches to understand the genetics of model and non-model plants associated with diseases
            and abiotic stresses.</p>

            <p>At Texas A&M AgriLife Research, he continued his work on <b>high-throughput genomics
                analysis and developed new computational methods</b> to understand the complex genetic traits, gene networks, pathways, and
                basal molecular mechanisms for developing next-generation crops. </p>

            <p>In his research, he primarily employs <b>bioinformatics, statistical, and machine learning</b> methods to exploit
                the large-scale sequencing datasets and interpret meaningful biological information. </p>

            <p>Besides, he developed scalable <b>software/tools, automated analysis pipeline, statistical models, and
                integrated databases</b> for effective analysis and visualization of massive omics datasets.

            <p>From his research output, Dr. Bedre bridges the gap between high-throughput plant genetics data and
                actionable biological insights for experimental biologists. </p>

        <p>My research goal is to analyze high-throughput genetics data and develop new computational methods to  understand the
            molecular mechanisms for crop improvement to increase yield and stress resistance. I accomplish these goals by:</p>
            <ul style="list-style-type:disc">
                <li>Apply bioinformatics, statistical, and machine learning methods on big high-throughput omics
                    datasets to exploit and interpret meaningful biological information</li>
                <li>Develop scalable software/tool, automated analysis pipeline, statistical models, and integrated
                    databases for effective analysis and visualization of big high-throughput omics datasets</li>
                <li>Work closely with biologists and multi-disciplinary collaborators to help to quickly understand the
                    biological data</li>
            </ul>
        <ul style="list-style-type:disc">
            <li>Bioinformatics, genetics, genomics, and transcriptomics</li>
            <li>Statistical modeling and machine learning</li>
            <li>Standalone software programs, web servers, and databases development</li>
            <li>Development of new computational methodologies and automated analysis pipelines for big data</li>
            <li>High-performance computing (HPC)</li>
            <li>Visualization</li>
            <li>Python, R/Bioconductor, Perl, PostgreSQL, Linux, HPC, CyVerse, Docker</li>
        </ul>

    <p><b>Postdoctoral Research Associate</b>, Oct 2016-Present<br>
        <span style="color: grey;">Texas A&M AgriLife Research, TX, USA</span></p>
    <p><b>Ph.D.</b> in Computational Biology and Bioinformatics, Aug 2011- Aug 2016<br>
        <span style="color: grey;">Louisiana State University, baton Rouge, LA, USA</span></p>
    <p><b>M.S.</b> in Bioinformatics, 2009-2011<br>
        <span style="color: grey;">Indian Institute of Information Technology, Allahabad, UP, India</span></p>

    <p>Computational biology, Bioinformatics, Genomics, Transcriptomics, Gene expression, GBS, GWAS, high-throughput
        data analysis and interpretation, Statistics, phylogenetics, genotyping, biomarkers, Functional annotation,
        Population genomics, Gene co-expression network, RNA-seq, RAD-seq, AgSeq, Genetics, Software and database
        development, data integration, Cloud-based computing, GitHub  </p>

    <i> Please, read <a href={{"/myfiles/Bedre_CV_Sept202019.pdf" | absolute_url }} target="_blank">CV</a>
        for research experience, awards, and achievements</i>

</div>
<!--

<p>Dr. Renesh Bedre is a Bioinformatics data scientist having 8 years of experience in
           <b>Bioinformatics</b>, <b>statistics</b>, and <b>genetics</b>. <br><br>
        He received <b>Ph.D.</b> from Louisiana State University at Baton Rouge, USA in 2016. Currently, He is working as
        a postdoctoral research associate and Bioinformatics data scientists at Texas A&M University.<br><br>
        He has extensive experiences in high-throughput transcriptomics (Total RNA-seq, mRNA-seq and small RNA-seq) and
           genomics (RAD-seq GBS, AgSeq GBS and ITS-seq) data analysis to understand the molecular mechanisms for crop improvement.
           He has worked on the genetics of simple (Rice, Arabidopsis, Brachypodium, Tomato, Spinach, Sorghum, Setaria) to complex
        (Sugarcane, Spartina, Cotton, Potato) plants.<br><br>
        He also has extensive experiences in the developing novel methods and computational approaches to effectively analyze large-scale
           genetics datasets generated from high-throughput sequencing platforms. <br><br>
          He has strong proficiency in Python, R/Bioconductor, Perl, PostgreSQL, Bash, Django, open-source
           bioinformatics tools, high-performance computing (HPC), CyVerse, and GitHub.
       </p>

<h4 style="color:#1496BB">Biography</h4>

     <p>Dr. Renesh Bedre is a Bioinformatics data scientist having 8 years of experience in
           <b>Bioinformatics</b>, <b>statistics</b>, and <b>genetics</b>. He has expertise in high-throughput
           transcriptome and whole genome sequencing data analysis.<br><br>
        He received <b>Ph.D.</b> from Louisiana State University at Baton Rouge, USA in 2016. Currently, He is working as
        a postdoctoral research associate and Bioinformatics data scientists at Texas A&M University.<br><br>
        He has extensive experiences in large-scale gene expression profiling, sequence assemblies, molecular biomarker
           discovery, functional annotation, GWAS, development of algorithms and software pipelines, and data
           visualization. He has worked on the genetics of simple (Rice, Arabidopsis, Brachypodium, Tomato) to complex
        (Sugarcane, Spartina, Cotton, Potato) plants.<br><br>
        He also has extensive experiences in the development of standalone software programs, automated software pipelines,
           web servers, and databases for analysis of large-scale datasets generated from next-generation sequencing
           (NGS) platforms.
          He has strong proficiency in Python, R/Bioconductor, Perl, PostgreSQL, Bash, Django, open-source
           bioinformatics tools, high-performace computing (HPC), CyVerse, and GitHub.
       </p>


    </p>
     -->
    <!--
    <p>I earned Ph.D. from Louisiana State University at Baton Rouge, USA in August 2016. Currently, i am working as
        research associate at Texas A&M University. My primary research interest concerns about transcriptomics and
        genomics data analysis and, development of a Bioinformatics and data analysis tools for a large datasets in a
        high-throughput manner. During My Ph.D., I have earned experience on NGS data analysis, high performance
        computing, bioinformatics software development, web development and database management.
        <br><br>
        I am working on several Bioinformatics projects, from small to large scale sequence analysis to address
        abiotic and biotic stresses in plants (Cotton, Sugarcane, Rice, Potato, Tomato, Spartina etc.). I have largely
        applied Next generation sequencing (NGS) RNA-seq approach to study molecular mechanisms and transcriptional
        regulation under various abiotic and biotic stresses in a model and non-model plant species. Additionally, I
        have developed algorithms and software pipeline for efficient analysis for large scale biological data generated
        from NGS instruments.
        and Bioinformatics software and database development
    </p>
    -->
<!--
<h4 style="color:#1496BB">Research Interests</h4>
    <ul style="list-style-type:disc">
        <li>Transcriptomics and genomics data analysis</li>
        <li>Development of new computational methodologies for NGS analysis</li>
        <li>High Performance Computing for big data analysis</li>
        <li>Parallel computing (shared and distributed) for Bioinformatics tools development</li>
        <li>Statistical computing and graphics</li>
        </ul>

<h4 style="color:#1496BB">Things I work on</h4>
    <ul style="list-style-type:disc">
        <li>Analyze large molecular datasets, especially RNA-Seq datasets generated from NGS platforms such as Illumina
            and Roche/454 in plants to address basic research questions</li>
        <li>Develop and apply bioinformatics data analysis pipelines in order to analyze large omics data sets</li>
        <li>Apply high performance computing (HPC) to analyze large NGS datasets in a high throughput manner</li>
        <li>Apply statistical methods to analyze omics and microarray datasets in Python, R and Bioconductor (eg. gene
            expression, GO and pathway enrichment, PCA etc.)</li>
        <li>Write novel algorithms and implement it as per scientific needs and research goals</li>
        <li>Sequence data submission at NCBI SRA and EST databases</li>
        <li>Creative visualization of the data analysis results using various open-source tools such as R, matplotlib, Circos,
            IGV, Cytoscape etc.</li>
        <li>Create databases for storing NGS data analysis results and maintain them</li>
        <li>Collaborate with other research groups/scientists and perform the analysis of their data as per requirement</li>
        <li>Communicate research findings through publications, oral presentations, reports and conferences</li>
        <li>Review scientific manuscripts</li>
        <li>Help other students and faculty to troubleshoot Bioinformatics problems (eg. Installing Linux/Unix, command
            line tools, Operating Linux/Unix machine, writing code in Python and Perl, debug the code, recommend
            statistical methods, database handling etc.)</li>
    </ul>

    <!--
        <h3 style="color:#306EFF"><font face="verdana">Education</font></h3>
        <ul style="list-style-type:disc">
           <li><b><font face="verdana" style="color:#FBB117">Ph.D. Agronomy with emphasis on Bioinformatics and statistics</font></b>
               <font face="verdana">, Louisiana State University, Baton Rouge, USA <br>August 2011-August
                   2016</font></li>
                <br>
           <li><b><font face="verdana" style="color:#FBB117">M.S.  Bioinformatics</font></b><font face="verdana">, Indian Institute of
               Information Technology, Allahabad, India <br>August 2009-July 2011</font></li>
  				<br>
           <li><b><font face="verdana" style="color:#FBB117">B.S.    Pharmacy</font></b><font face="verdana">, Dr. Babasaheb Ambedkar
               Marathwada University, Aurangabad, India <br>August 2005-May 2009</font></li>
       </ul>
        <h3 style="color:#306EFF"><font face="verdana">Relevant Skills</font></h3>
        <ul style="list-style-type:disc">
           <li><b><font face="verdana" style="color:#FBB117">Operating Systems</font></b><br><font face="verdana">Linux/UNIX (Red Hat,
               Ubuntu, Mandriva,      Fedora), Macintosh OS, Windows (XP, 7, 8)</font></li>
                <br>
           <li><b><font face="verdana" style="color:#FBB117">Programming Experience</font></b><br><font face="verdana"><i>Proficient
           </i> - Python, Perl,      R, Bioconductor, Biopython, BioPerl, HPC, PBS, MySQL, PostgreSQL, HTML, CSS,
               Bootstrap<br><i>Working knowledge</i> - Bash, C, C++, Java, SAS, MATLAB, Django, PHP, MongoDB, Hadoop
           </font></li>
  				<br>
           <li><b><font face="verdana" style="color:#FBB117">Bioinformatics tools</font></b><br><font face="verdana">BLAST, Blast2GO, GATK,
               SAMtools, MISA, Primer3, ClustalW, MEGA, PHYLIP, TopHat, Bowtie1/2, BWA, STAR, Trinity, ABySS, Velvet,
               CAP3,SOAPdenovo, Cufflinks, DEGseq, HTSeq, IGV, Circos, Cytoscape, agriGO, CLC Workbench, WGCNA,
               RiceNet, KEGG pathways, MFold, RNAfold, psRNATarget</font></li>
        </ul>
    -->
 <!--
<h4 style="color:#1496BB">Fellowships and Awards</h4>
    <ul style="list-style-type:disc">
        <li><b> Gerald O. Mott</b> Meritorious Student Award from Crop Science Society of America, 2015
            <a href ={{"/myfiles/bedre_mott_2015.pdf" | absolute_url }} target="_blank">View award</a></li>
        <li><b>Travel Grant Award</b> from LSU Graduate School to attend XXII, Plant and Animal Genome
            Conference, 2014</li>
        <li><b>GATE scholarship</b> from Ministry of Human Resources and Development, Govt. of India,
            2009-2011</li>
        <li>All India Rank 28th in National level Pharmacy Talent search Examination, 2007</li>
    </ul>

<h4 style="color:#1496BB">Professional Memberships and services</h4>
    <ul style="list-style-type:disc">
        <li>Member, <a href="https://www.crops.org/">Crop Science Society of America</a></li>
        <li>Member, <a href="http://www.apsnet.org/Pages/default.aspx">American Phytopathological Society (APS)
        </a></li>
        <li>Member, <a href="https://jgi.doe.gov/">U.S. Department of Energy Joint Genome Institute (DOE JGI)
        </a></li>
        <li>Member, <a href="https://www.bioinformatics.org/">Bioinformatics Organization</a></li>
        <li>Member, <a href="http://bioclues.org/">Bioinformatics Club for Experimenting Scientists (Bioclues)
        </a></li>
        <li>Member, <a href="https://www.biostars.org/">Biostar</a></li>

        <li>Reviwed manuscripts for <a href="https://www.nature.com/srep/">Scientific Reports-Nature</a>,
            <a href="http://journals.plos.org/plosone/">PLOS ONE</a>,
            <a href="https://link.springer.com/journal/438">Molecular Genetics and Genomics</a>,
            <a href="https://link.springer.com/journal/521">Neural Computing and Applications</a>,
            <a href="http://www.springer.com/life+sciences/systems+biology+and+bioinformatics/journal/12539">
                Interdisciplinary Sciences: Computational Life Sciences</a>,
            <a href="http://www.sbmp.org.br/cbab/siscbab/">CBAB-Crop Breeding and applied Biotechnology</a>
            <br>
            <a href="https://publons.com/author/1282617/renesh-bedre#profile"> Click here </a> for detail review record
        </li>
        <li>Committee Member <b>Graduate Student Association (GSA)</b> of department of School of Plant Environmental
            and Soil Sciences at Louisiana State University, 2015-2016</li>
        <li>Committee Member of <b>Indian Student Association (ISA)</b> at Louisiana State University, 2014-2015</li>
        <li><b>Volunteer</b>, Third Science Conclave: An Interaction with Nobel Laureates held at IIIT Allahabad,
            India, 2010</li>
    </ul>
-->

<!--
<div class="home">
  {% if page.title %}
    <h5 class="page-heading">{{ page.title }}</h5>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h5 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h5>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
-->
